<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>{{ article.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Anna Titova Portfolio">
        <meta name="author" content="Roman M. Ekimov, romek@toywar.ru">

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster">
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:400,700'>
        <link href='http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic'
              rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed&subset=latin,cyrillic,cyrillic-ext'
              rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/style.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body>

        <!-- Header -->
         <div class="container">
            <div class="header row">
                <div class="logo span2">
                    <img src="/static/img/anka.jpg"
                         style="width:100px;height:100px">
                </div>
                <div class="logo span4">
                    <h1><a href="/">Анна Титова</a></h1><h5>Редактор</h5>
                </div>
                <div class="call-me span8">
                    <p>e-mail:<a class="call-me" href="mailto:titova.editor@gmail.com">
                        titova.editor@gmail.com
                    </a></p>
                    <hr/>
                </div>
            </div>
        </div>

        <!-- Content -->
 <div class="container">
            <div class="row">
                <h2>{{ article.title }}</h2>
                <h8 align="left">Дата публикации на сайте <a href="http://info.olimpiada.ru/" about="_blank">Olimpiada.ru</a>:
                    {{ article.timestamp }}
                </h8>
                <hr/>
                <p>{{ article.body | safe }}</p>
            </div>
 </div>

        <!-- Javascript -->
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/jquery.backstretch.min.js"></script>
        <script src="/static/js/jquery.countdown.js"></script>
        <script src="/static/js/scripts.js"></script>
        <script src="/static/tiny_mce/tiny_mce_src.js"></script>
</body>
</html>