<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Anna Titova - Portfolio</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Anna Titova Portfolio">
        <meta name="author" content="Roman M. Ekimov, romek@toywar.ru">

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster">
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:400,700'>
        <link href='http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed&subset=latin,cyrillic,cyrillic-ext'rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/style.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body>

        <!-- Header -->
        <div class="container">
            <div class="header row">
                <div class="logo span2">
                    <img src="/static/img/anka.jpg"
                         style="width:100px;height:100px">
                </div>
                <div class="logo span4">
                    <h1><a href="/">Анна Титова</a></h1><h5>Редактор</h5>
                </div>
                <div class="call-me span8">
                    <p>e-mail:<a class="call-me" href="mailto:titova.editor@gmail.com">
                        titova.editor@gmail.com
                    </a></p>
                    <hr/>
                </div>
            </div>
        </div>

        <!-- Content -->
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="span12 subscribe">#}
{#                    <h3>Subscribe to my Instagram</h3>#}
{#                    <p>Short notes from Europe, photos of food and some selfies are here: <a href="http://instagram.com/valzevul">instagram.com/valzevul</a></p>#}
{#                    <h3>Subscribe to our newsletter</h3>#}
{#                    <p>Sign up now to our newsletter and you'll be one of the first to know when the site is ready:</p>#}
{#                    <form class="form-inline" action="assets/sendmail.php" method="post">#}
{#                        <input type="text" name="email" placeholder="Enter your email...">#}
{#                        <button type="submit" class="btn">Subscribe</button>#}
{#                    </form>#}
{#                    <div class="success-message"></div>#}
{#                    <div class="error-message"></div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="row">#}
{#                <div class="span12 social">#}
{#                    <a href="http://facebook.com/valzevul" class="facebook" rel="tooltip" data-placement="top" data-original-title="Facebook"></a>#}
{#                    <a href="http://twitter.com/valzevul" class="twitter" rel="tooltip" data-placement="top" data-original-title="Twitter"></a>#}
{#                    <a href="http://valzevul.ru/" class="dribbble" rel="tooltip" data-placement="top" data-original-title="Previous version"></a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

 <div class="container">
            <div class="row">
            <div class="table-responsive">
            <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-index"><h5>Дата публикации</h5></th>
                    <th class="col-index"><h5>Статья</h5></th>
                </tr>
            </thead>

            <tbody>
            {% for article in articles %}
                 <tr>
                    <th class="col1-index"><h4>{{ article.timestamp }}</h4></th>
                    <th><h4><a href="/articles/{{ article.id }}/">{{ article.title }}</a></h4></th>
                 </tr>
            {% endfor %}
            </tbody>

            </table>
            </div>
            </div>
 </div>

        <!-- Javascript -->
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/jquery.backstretch.min.js"></script>
        <script src="/static/js/jquery.countdown.js"></script>
        <script src="/static/js/scripts.js"></script>
        <script src="/static/tiny_mce/tiny_mce_src.js"></script>

</body>
</html>